.container {
  overflow-x: scroll;
  overflow-y: hidden;
  gap: 8px;
  padding: 4px 0;
  padding-bottom: 16px;
  white-space: nowrap;
  max-width: 100%;

  &::-webkit-scrollbar {
    display: none;
  }
}

.date {
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  gap: 4px;
  padding: 4px;
  border-radius: 50%;
  width: 45px;
  height: 45px;

  &.weekend {
    color: var(--accent);
  }

  &.today {
    background: var(--brand-bg);
  }
}