
.App {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 30px;
}

.App-logo {
  width: 100px;
}

button {
  background: var(--tg-theme-button-color);
  color: var(--tg-theme-button-text-color);
  padding: 10px;
  border: none;
  border-radius: 6px;
}